/* task-filter.component.css */
.task-filter {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 150px;
}
