mat-card {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.6);
}

mat-card-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
  margin-left: 4px;
}

button:last-child {
  background-color: red;
  color: white;
}
