<mat-card>
  <mat-card-title>
    {{ isEditMode ? "Edit Event" : "Create New Event" }}
  </mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="confirmSaveEvent()">
      <mat-form-field appearance="outline">
        <mat-label>Event Title</mat-label>
        <input matInput [(ngModel)]="event.title" name="title" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          [(ngModel)]="event.description"
          name="description"
          required
        ></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Event Date</mat-label>
        <input
          matInput
          [(ngModel)]="event.date"
          name="date"
          type="date"
          required
        />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput [(ngModel)]="event.location" name="location" required />
      </mat-form-field>

      <div class="button-group">
        <button mat-raised-button color="primary" type="submit">
          {{ isEditMode ? "Update Event" : "Save Event" }}
        </button>
        <button mat-button type="button" (click)="cancelEdit()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
